:root {
    --primary: #0f172a;
    --secondary: #f8faff;  /* ghostwhite en hex */
    --accent: #2563eb;
    --bg: #f8fafc;
    --text: #1e293b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#profil p {
    font-style: italic;
}


.badges {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border : solid 1px red;  */
}

.badge {
    flex-direction: row;
    justify-content: baseline;
    padding: 4px 10px;
    border-radius: 800px;
    width: auto;
    min-height: 10%;
    max-height: 10%;
    line-height: 1.5;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: var(--primary);
    border: solid 3px;
    border-color: var(--badge-color);
    background-color: ghostwhite;
}

.badge img {
    width: 20px;
    height: auto;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg);
    color: var(--text);
    overflow-y: scroll;
    padding-bottom: 60px;  /* Espace pour le footer */
}

button {
    all: unset; /* Réinitialise tous les styles (bordure, background, etc.) */
}

.btn_bleu, .btn_orange {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
	border : 0px; 
    height: 40px;
    width: 150px;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3),
        inset 2px 2px 1px rgba(255, 255, 255, 0.8);
    color: ghostwhite;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-decoration: none;
    margin-top: 1%;
}

.btn_bleu {
	background-color: #355eff;
}

.btn_orange {
	background-color : orange;
}

.btn_bleu:hover {
    cursor: pointer;
    background-color: darkblue;
    text-decoration: none;
    color: ghostwhite;
}

.btn_orange:hover {
    cursor: pointer;
    background-color: darkorange;
    text-decoration: none;
    color: ghostwhite;
}

.card,
.stack-card {

    width: 350px;
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
}

.card:hover,
.stack-card:hover {
    transform: translateY(-5px);
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    color: white;
    /*padding: 2rem;*/
    background: var(--primary);
    /* margin-top: 10%; */
    width: 100%;
    height: 50px;
}

footer p {
    font-size: 0.8rem;
    align-content: center;
    color : white; 

}

h2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    color: var(--accent);
    margin-top: 3%;
}


/* h2, h4 {

    margin-right: auto;
    
} */






.hero {
    height: 96vh;
    background: url('assets/Background.jpg');
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero button {
    margin-top: 1rem;
    padding: 0.7rem 1.2rem;
    border: none;
    background: var(--accent);
    color: white;
    cursor: pointer;
}

.hero-slogan {
    display: flex;
    color: var(--secondary);
    line-height: 2em;
    font-weight: bold;
    animation: slideWords 6s infinite;
}

.hero-slogan span {
    justify-content: flex-end;
    font-size: 23px;
    ;
}

.hero-slogan span::before {
    content: "Analyser, Concevoir, Développer";
    color: var(--accent);
    padding-right: 8px;
    animation: slogan 4s infinite
}




html {
    scroll-behavior: smooth;
}

/************************ NAVBAR ****************************/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--primary);
    height: 50px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-links {
    display: flex;
    gap: 10px;
}

.nav-links.active {
    display: flex;
    background-color: var(--primary);
	z-index : 9999;
}

.nav-links.active a {
    color: var(--secondary);
}

.nav-links li {
    text-align: center;
    margin: 10px 0;
    list-style: none;
}

.nav-left {
    display: flex;
    justify-content: flex-start;
    color: var(--secondary);
    font-weight: bold;
    font-size: 0.8em;
    align-items: center;
    width: 70%;
    padding-left: 1%;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1%;
    width: 30%;
}

.nav-left a,
.nav-right a {
    font-family: "GothamRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--secondary);
    padding: 15px;
    transition: transform 0.2s ease;
    text-decoration: none;
}

.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger span {
    margin-right: 10px;
    width: 25px;
    height: 3px;
    background-color: var(--secondary);
	border-radius : 50px;
}

/************************ END NAVBAR ***************************************/



p{
    font-size : 16px; 
    color : rgba(72, 77, 81, 0.8)
}

.photo-profil {
    max-width: 150px;
    width: 100%;
    height: auto;
    border-radius: 30%;
    object-fit: cover;
    margin-bottom: 1.5rem;
    /*box-shadow: 0 6px 20px rgba(0,0,0,0.15);*/
}




.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding : 2%;
    column-gap: 20px;
    row-gap : 30px;  
    /* border: solid 1px red; ; */
}


.stack-card {
    max-width: 150px;
}

@keyframes slogan {

    0%,
    33% {
        content: "Analyser";
    }

    34%,
    75% {
        content: "Concevoir";
    }

    76%,
    100% {
        content: "Développer";
    }
}

/************** MEDIA QUERIES   ************************/

@media (max-width: 768px) {

    .burger {
        display: flex;
    }
    
    .card,
    .stack-card {
        margin-bottom: 50px;
        width: 100%;
        padding : 4%;
    }
    #stack {
        justify-content: space-evenly;
        /* margin : auto ;  */
    }
    nav {
        position: relative;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #333;
        padding: 20px 0;
    }

    .nav-links.active {
        display: flex;
    }
}

/************** END MEDIA QUERIES   ************************/


/* .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap : 3%; 
            border : solid 1px red; 
} 
*/
/* Hover discret 
.badge:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
*/


/* Variante texte sombre (JS, Linux…)
.tech-badge.dark-text {
  color: #000000;
}
*/
